<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.monacoex.org/dsl/Monascripts"
			class = "org.monacoex.dsl.monascripts.MonascriptsPackage"
			genModel = "model/generated/Monascripts.genmodel" />
	</extension>
</plugin>
